body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgray;
}

body>div{
  border: 2px solid red;
  padding: 20px;
}

#seguidor{
  position: fixed;
  height: 15px;
  width: 15px;
  border: 5px dotted black;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  animation: rodar 2s linear infinite;
  z-index: -1;
}

@keyframes rodar{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}